# Data folders
data/raw/*
!data/raw/.gitkeep
!data/intermediate/.gitkeep
!data/processed/.gitkeep
data/small/*
data/kaggle/*

# Project files
references/*
reports/*
*.log

# System files
.DS_Store
*.pyc